body{
    margin-top: 10%;
    background-color: #04a1bf;
text-align:right;
font-family: 'Roboto', sans-serif;
}
h1{
    color:white;
    font-weight: 700;
    

}
#p1{
    color:#ffcd5d;
}
#p2{
    color: #51df70;
 }
#p3{
    color: #025f70;

 }

input{
	width:90%;
	border:1px solid #025f70;
	border-radius:4px;
	height:35px;
    font-weight: 550;

}

#mylist{
	margin-top: 50px;

}

li{

list-style-type: none;
text-align:left;
background-color:#4eb9cd;
width:65%;
height:30px;
border:2px solid #025f70;
border-radius:4px;
padding-top:1%;
padding-left:2%;
color:white;
margin-top: 5px;
}

p, h1{
	font-weight: bold;

}
.rem{
margin-left:88%;
color:#025f70;

}

li *{
	display: inline;
}

.complete{
	text-decoration-line: line-through;
}

#add{
color:#025f70;
right:0px;
  top: 20%;
  position: absolute;


}

div{
padding: 0;
  top: 12px;
  right: 15px;
      height:20px;
width: 70%;
      position: relative;

}

#ec{
  position: absolute;
  top: 50%;
  right: 50px;
      height:15px;
      color: white;
      background-color: #777777;
  transform: scale(0.8);


}

