body{
    margin-top: 10%;
    background-color: #04a1bf;
text-align:right;
}
h1{
    color:white;
}
#p1{
    color:#ffcd5d;
}
#p2{
    color: #51df70;
 }
#p3{
    color: #025f70;

 }
li{

list-style-type: none;
text-align:left;
background-color:#4eb9cd;
width:70%;
height:30px;
border:1px solid #444444;
border-radius:3px;
padding-bottom: 10;
padding-top:1%;
padding-left:2%;
color:white;


}

li:last-child{
    margin-top:88%;
    margin-left:88%;

}

button.rem{
bottom: 0;
margin-left:88%;
color:red
}
